<div class="pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Dashboard</h1>
    <p class="large mb-0">Important DataTable - <a href="https://fiduswriter.github.io/simple-datatables/demos/" class="link-primary"><i class="bi alarm-fille"></i>Data Table Open Source </a></p>
    
  </div>
  
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Total Members</h5>
          <p class="card-text">500</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Upcoming Events</h5>
          <p class="card-text">3</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Donations This Month</h5>
          <p class="card-text">$2,000</p>
        </div>
      </div>
    </div>
  </div>
  