.container {
  margin-top: 50px;
}

.error-template {
  padding: 40px 15px;
  text-align: center;
}

.error-details {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 18px;
  color: #666;
}

.error-actions {
  margin-top: 15px;
  margin-bottom: 15px;
}

.btn {
  margin-right: 10px;
}
