.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  
  .status-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
  }
  
  .text-success { background-color: green; }
  .text-danger { background-color: red; }
  .text-warning { background-color: orange; }
//   .hiperlink-primary {color: #219ebc;}


  