.sidebar {
    width: 220px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    border-right: 1px solid #ddd;
  }
  .nav-link {
    color: #023047;
    font-weight: 500;
    transition: background 0.3s;
  }
  .nav-link.active {
    background: #023047 !important;
    color: #ffb703 !important;
    border-radius: 5px;
  }
  .nav-link:hover {
    background: #ebf3f4;
    // color: white;
    border-radius: 5px;
  }

  .user-color{
    color: #023047;
  }