/* You can add global styles to this file, and also import other style files */

@use './button-styles' as *;

// src/button-styles.scss
// Setting defult text for sub-text
.sub-text {
  color:#023047;
}

// Default Table Id Hyperlink color
.member-link {
    color: #219ebc; /* Default Bootstrap blue */
    text-decoration: underline;
    font-weight: bold;
  }
  
  .member-link:hover {
    color: #023047; /* Change to orange on hover 023047*/
    text-decoration: underline;
  }